#signup-form {
  padding-top: 15%;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}

#chat_box {
  height: 250px;
  width: 100%;
  overflow: auto;
  border: 1px solid #ACD8F0;
  margin:0 auto;
  text-align:left;
}