<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="../static/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/public/css/base.css">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    <script defer src="../static/public/js/vendor.js"></script>
    <script defer src="../static/public/js/app.js"></script>
</body>
</html>